@import url("./styles.css");

@media (min-width: 25em) {
  .nav__text {
    text-align: center;
    font-size: var(--navLinkFontSize);
  }

  .section__text {
    max-width: 600px;
    margin-inline: auto;
  }

  .contactForm-status {
    font-size: 1.2rem;
    color: var(--fontLightColor);
    text-align: center;
    margin-top: 1rem;
  }
}

@media (min-width: 48em) {
  .nav__link {
    position: relative;
  }

  .nav__icon {
    position: absolute;
    width: 100%;
    transform: translateY(-25%);
    opacity: 0;
    font-size: 2rem;
    transition: opacity 0.3s;
  }

  .nav__link:hover .nav__icon {
    font-size: 2rem;
    color: var(--fontLightColor);
    opacity: 1;
  }

  .nav__text {
    display: block;
    opacity: 1;
  }

  .nav__link:hover .nav__text {
    opacity: 0;
  }

  .profile__container {
    width: 300px;
    height: 300px;
  }

  .profile__image {
    width: 300px;
    height: 300px;
  }

  .section__text {
    max-width: 768px;
    margin-inline: auto;
  }
}