@import url("./styles.css");

@media (min-width: 25em) {
  .nav__text {
    text-align: center;
    font-size: var(--navLinkFontSize);
  }

  .section__text {
    max-width: 600px;
    margin-inline: auto;
  }

  .form-container {
    margin-inline: auto;
  }
}

@media (min-width: 48em) {
  .nav__link {
    position: relative;
  }

  .nav__icon {
    position: absolute;
    top: 1.75rem;
    width: 100%;
    opacity: 0;
    z-index: -1000;
    transition: opacity 0.3s;
  }

  .nav__link:hover .nav__icon {
    color: var(--fontLightColor);
    opacity: 1;
  }

  .nav__text {
    display: block;
  }

  .profile__container {
    width: 300px;
    height: 300px;
  }

  .profile__image {
    width: 300px;
    height: 300px;
  }

  .section__text {
    max-width: 768px;
    margin-inline: auto;
  }
}