.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.institution {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  list-style-type: circle;
}