:root {
  /* --fontFamily: "Neucha", serif; */
  --font-family: "Grandstander", serif;
  --darkColor: #0a0a0a;
  --fontLightColor: #f4f4f4;
  --titleSize: clamp(2.5rem, 5vw, 5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--fontFamily);
  background-color: var(--darkColor);
  color: var(--fontLightColor);
}

a {
  color: var(--fontLightColor);
  text-decoration: none;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}