:root {
  /* --fontFamily: "Neucha", serif; */
  --fontFamily: "Grandstander", serif;
  --fontLightColor: #f4f4f4;
  --fontDarkColor: #0a0a0a;
  --darkColor: #0a0a0a;
  --hoverColor: #4a4a4a;
  --focusColor: #4a4a4a;
  --backgroundLightColor: #f4f4f4;
  --sectionTitleFontSize: clamp(1.5rem, 5vw, 4rem);
  --sectionTextFontSize: clamp(1rem, 2vw, 2rem);
  --addressLinkFontSize: clamp(0.75rem, 2.5vw, 1.2rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

body {
  min-height: 100vh;
  font-family: var(--fontFamily);
  background-color: var(--darkColor);
  color: var(--fontLightColor);
}

a {
  color: var(--fontLightColor);
  text-decoration: none;
}

.body__header {
  padding: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.nav__link {
  display: flex;
}

.nav__link i {
  display: flex;
}

.nav__link:hover {
  color: var(--hoverColor);
}

.nav__link:focus {
  outline: 2px solid var(--focusColor);
  outline-offset: 0.3rem;
  border-radius: 6px;
}

.nav__icon {
  text-align: center;
}

.nav__text {
  display: none;
}

.body__section {
  margin-bottom: 5rem;
}

.article__container {
  max-width: 768px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.article__title {
  margin-bottom: 0.5rem;
}

.article__image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.article__links {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.article__links a button {
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  background-color: var(--darkColor);
  font-family: var(--fontFamily);
  color: var(--fontLightColor);
  cursor: pointer;
}

.article__links a:focus {
  outline: 2px solid var(--focusColor);
  outline-offset: 0.3rem;
  border-radius: 6px;
}

.article__links a:visited {
  color: var(--fontLightColor);
}

.article__ul {
  list-style: none;
}

.section__article {
  border: 1px solid var(--fontLightColor);
  padding: 1rem;
}

.section__article-project {
  border: none;
  background-color: var(--backgroundLightColor);
  color: var(--fontDarkColor);
}

.section__article-project:hover {
  outline: 1px solid var(--backgroundLightColor);
  outline-offset: 3px;
}

.section__article-project a {
  color: var(--fontDarkColor);
}

.section__article:hover {
  border-color: var(--hoverColor);
}

.section__article--mb article:not(:last-child) {
  margin-bottom: 1rem;
}

.section__title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: var(--sectionTitleFontSize);
  text-align: center;
}

.section__title-profile {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: var(--sectionTitleFontSize);
  text-align: center;
}

.profile__title {
  margin-bottom: 2rem;
  text-align: center;
}

.section__text {
  padding-inline: 1rem;
  font-size: var(--sectionTextFontSize);
  line-height: clamp(1.4rem, 3vw, 2.5rem);
  text-align: center;
}

.body__footer {
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
  margin-bottom: 1rem;
}

.social-media__link {
  display: flex;
}

.social-media__link i {
  display: flex;
}

.social-media__link:hover {
  color: var(--hoverColor);
}

.social-media__link:focus {
  outline: 2px solid var(--focusColor);
  outline-offset: 0.3rem;
  border-radius: 4px;
}

.social-media__text {
  display: none;
}

.footer__address {
  margin-bottom: 1rem;
}

.address__link {
  display: block;
}

.address__icon {
  display: none;
}

.address__text {
  font-size: var(--addressLinkFontSize);
}

.address__link:focus {
  outline: 2px solid var(--focusColor);
  outline-offset: 0.3rem;
  border-radius: 6px;
}

.address__link:not(:last-child) {
  margin-bottom: 0.75rem;
}

.address__link:hover {
  color: var(--hoverColor);
}

.footer__copyright {
  padding: 1rem;
  background-color: var(--backgroundLightColor);
  color: var(--fontDarkColor);
  text-align: center;
}